*{
    margin: 0;
    padding: 0;
}

:root{
    --backgroundColor:#0a102e;
    --backgroundColor2:#030822;
    --scantyColor:#ff8520;
    --scantyColorDarker:#f16f04;
    --textColor:#b9c5ffbd;
    --primaryColor:#dacfc4;
    --white:#fff;
    --lightWhite: rgba(255, 255, 255, 0.829);
    --vsfs: 14px;
    --sfs: 16px;
    --mfs:18px;
    --titlefs:28px;
}

/* :root{
    --backgroundColor:#fff;
    --backgroundColor2: #e9dfd6;
    --scantyColor:#ff8520;
    --scantyColorDarker:#f16f04;
    --textColor:rgb(87, 79, 79);
    --primaryColor:#0a102e;
    --white:#030822;
    --vsfs: 14px;
    --sfs: 16px;
    --mfs:18px;
    --titlefs:28px;
} */


@media only screen and (max-width: 800px) {
    :root{
        --vsfs: 12px;
        --sfs: 14px;
        --mfs:16px;
        --titlefs:24px;
    }
    
}


body{
    margin: 0;
    padding: 0;
    background-color: var(--backgroundColor);
    color: var(--white);
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.title{
    text-align: center;
}

li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: unset;
}
input{
    /* width: 100%; */
    border: none;
    outline: none;
    font-size: var(--mfs);
    padding:5px 10px;
    border-radius: 5px;
}
textarea{
    /* width: 100%; */
    border: none;
    outline: none;
    font-size: var(--mfs);
    padding:5px 0 0 10px;
    border-radius: 5px;
    font-family: 'Inter', sans-serif;
    height: 200px;
}

.login-registerbtn{
    padding: 5px 10px;
    background-color: var(--scantyColor);
    border-radius: 20px;
    width:fit-content
}
.login-registerbtn:hover{
    background-color: var(--scantyColorDarker);
    color: var(--primaryColor);
}
.sub-nav-menu{
    font-size: var(--sfs);
}
.sub-nav-menu:hover{
    color: var(--textColor);
}


header{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 10px;
    background-color: var(--backgroundColor2);
}

.blog-logo-name{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    flex: 0.4;
}
.blog-name{
    font-size: var(--titlefs);
    color: var(--scantyColor);
}
.blog-logo-container img{
    width: 40px;
    filter: hue-rotate(32deg) saturate(120%);
    filter:sat ;
}

.blog-nav{
    display: flex;
    flex: 1;
    /* display: none; */
    /* justify-content: right; */
}
.blog-nav-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    color: var(--white);
    /* gap: 50px; */
    flex: 1;
}
.blog-nav-login-profile{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    color: var(--white);
    gap: 20px;
    flex: 1;
}
.blog-nav-login-profile li:hover{
    color: var(--textColor);
}



.hamburger{
    font-size: 30px;
    position: fixed;
    right: 20px;
    top: 13px;
    display: none;
}
.hamburger:hover{
    color: var(--scantyColor);
}
#blog-menu{
    position: fixed;
    right: 20px;
    top: 60px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    border: 1px solid var(--white);
    border-radius: 5px;
    background-color: var(--backgroundColor2);
    box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.596);
    display: none;
    z-index: 5;
}

@media only screen and (max-width: 1000px) {
    .blog-nav{
        display: none;
    }
    #blog-menu{
        display: none;
        
    }
    .hamburger{
        display: block;
    }

}

@media only screen and (max-width: 800px) {
    .blog-logo-name{
        gap: 5px;
    }
    .blog-logo-container img{
        width: 35px;
    }
}





/* Registration form */

.form-container{
    /* background-color: white; */
    max-width: 500px;
    width: 75%;
    padding: 20px;
    border: 1px solid var(--white);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: auto;
    box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.596);
}
.form-title{
    font-size: var(--titlefs);
    background-color: var(--backgroundColor2);
    margin: auto;
    color: var(--primaryColor);
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 50px 0;
}
form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.field{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    gap: 10px;
    font-size: var(--mfs);
}
.field label{
    color: var(--primaryColor);
}
.input{
    /* width: 100%; */
    border: none;
    outline: none;
    font-size: var(--mfs);
    padding:5px 10px;
    border-radius: 5px;
}

#submit{
    border: none;
    outline: none;
    font-size: var(--mfs);
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    color: var(--white);
    background-color: var(--scantyColor);
    border-radius: 10px;
}
#submit:hover{
    color: var(--white);
    background-color: var(--scantyColorDarker);
}

.form-extra a{
    color: var(--scantyColor);
}
.form-extra a:hover{
    text-decoration: underline;
    color: var(--scantyColorDarker);
}






.create-post-section{
    width: 60%;
    padding: 20px;
    margin-top: 50px;
    border: 1px solid var(--white);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: auto;
    box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.596);

}






.all-blogs-title{
    color: var(--scantyColorDarker);
    font-size: var(--titlefs);
}

.blog_posts{
    padding: 20px;
    gap: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.blog_posts_profile{
    padding: 20px;
    gap: 10px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}


.blog_post{
    padding: 10px;
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    flex-direction: column;
    background-color: var(--backgroundColor2);
    border-radius: 5px;
}

.blog_post-image-div img{
    width: 100%;   
    height: 300px;  
    object-fit: cover;
    
}
.blog_post-name-date{
    display: flex;
    gap: 5px;
    font-size: var(--vsfs);
    color: var(--textColor);
    align-items: center;
}
.blog_post-name{
    color: var(--primaryColor);
    font-weight: 900;
}
.blog_post-title-summary{
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: var(--primaryColor);
}
.blog_post-title-summary h2{
    color: var(--scantyColor);
    font-size: var(--mfs);
}
.blog_post-title-summary p{
    font-size: var(--vsfs);
}

@media only screen and (max-width: 800px) {
    .blog_posts{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .blog_post-image-div img{
        height: 200px;  
    }
}
@media only screen and (max-width: 500px) {
    .blog_posts{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    
}





.edit-or-delete{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.edit{
    font-size: var(--mfs);
    padding: 5px 10px;
    align-items: center;
    color: var(--white);
    background-color: var(--scantyColorDarker);
    border-radius: 10px;
}
.delete{
    background-color: red;
    font-size: var(--mfs);
    align-items: center;
    padding: 5px 10px;
    color: var(--white);
    border-radius: 10px;

}






.full-post{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.post-title {
    color: var(--scantyColor);
}



.alert-success{
    color: green;
    font-size: var(--mfs);
    text-align: center;
}